body {
    background-color: bisque;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(218, 218, 218);
}

nav .nav-cont {
    margin: auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding: 0 20px;
}

nav .nav-cont .logo .logo-name {
    font-size: 34px;
    font-family: var(--font-heading);
    font-weight: 700;
}

nav .nav-cont .btns-cont {
    display: flex;
    align-content: center;
    gap: 10px;
}

nav .nav-cont .btns-cont a {
    background-color: rgb(68, 68, 222);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: var(--font-text);
    text-decoration: none;
}

nav .nav-cont .btns-cont a:hover {
    background-color: rgba(68, 68, 222, 0.864);
}


/* hero section styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.hero .hero-cont {
    max-width: 800px;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.hero .hero-cont .title {
    font-size: 48px;
    font-family: var(--font-heading);
    margin-bottom: 20px;
}

.hero .hero-cont .desc {
    font-family: var(--font-text);
    font-size: 18px;
    margin-bottom: 40px;
}

.hero .hero-cont .hero-btn {
    padding: 14px 20px;
    background-color: rgb(68, 68, 222);
    border-radius: 7px;
    font-size: 20px;
    color: white;
    font-family: var(--font-text);
    text-decoration: none;
}

.hero .hero-cont .hero-btn:hover {
    background-color: rgba(68, 68, 222, 0.864);
}